* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(247, 221, 247);
}

.logo {
  width: 30px !important;
  height: auto !important;
  margin-right: 50px;
}
.navbar-toggler {
  margin-right: 10px;
}
.navbar-toggler-icon {
  width: 1em !important;
}
.navbar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .logo {
  width: 300px;
  height: auto;
  margin-right: 200px;
  align-items: start;
} */
.title-section {
  display: flex;
  align-items: center;
  margin-right: 0px;
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-top: 80px;
  font-size: 98px;
}
h2 {
  font-size: 25px;
  text-align: center;
  margin: 70px 30px 50px 30px;
  font-family: "Poppins", serif;
  text-shadow: 4px 4px 2px rgba(202,120,120,0.6);
  
}

.intro-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
p {
  font-family: "Poppins", cursive;
  font-size: 20px !important  ;
  text-shadow: 4px 4px 2px rgba(202,120,120,0.6);
}
.p1 {
  grid-area: 1 / 1 / 2 / 6;
  margin: 0 30px 0 30px;
  text-align: justify;
}
.p2 {
  grid-area: 2 / 2 / 3 / 4;
  margin-right: 30px;
  text-align: justify;
}
.p3 {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 30px 0 30px;
  text-align: justify;
}
/* FOTTER */
.icons {
  display: flex;
  justify-content: space-around;
}
.icons * {
  font-size: 50px;
}
.fa-facebook-f {
  color: #db579d !important;
}
.fa-instagram {
  color: #db579d !important;
}
.fa-twitter {
  color: #db579d !important;
}
.img-foot {
  width: 30%;
}
.img-foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-services {
  width: 180px;
  height: auto;
  grid-area: 1 / 1 / 2 / 2;
}
.services-container {
  display: grid;
  justify-content: space-around;
  margin: 50px 0 50px 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr;
  grid-column-gap: 10px;
}

@media screen and (min-width: 320px) {
  h1 {
    display: none;
  }
  .navbar {
    height: 280px;
    background-image: url("../assets/foot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 150px;
  }
  .navbar-toggler {
    border-color: rgba(175, 96, 116, 0.815) !important;
    border-width: 3px;
  }
  .img-container {
    height: 100px;
    padding-top: 0;
    margin-top: 0;
  }
  .img-logo {
    margin-top: -100px;
    width: 100%;
    height: auto;
    display: none;
  }

  .intro-container {
    display: block;
  }
  .p2 {
    margin-left: 30px;
  }
  .pie {
    background-color: white;
  }
  .img-foot {
    width: 100%;
  }

  .icons * {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin: 50px 0 50px 6px;
  }
  
}

@media screen and (min-width: 700px) {
  h1 {
    display: none;
  }
  /* .navbar-toggler{
    margin-right: 10px;
  } */
  .navbar {
    height: 300px;
  }
  .navbar-toggler {
    border-color: rgba(175, 96, 116, 0.815) !important;
    border-width: 3px;
  }
  .navbar-toggler-icon {
    width: 3em !important;
    height: 3em !important;
  }
  p {
    font-size: 30px;
  }
  .info {
    font-size: 35px;
  }

  .img-foot {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    height: 250px;
    block-size: 300px;
    background-size: contain;
    background-color: white !important;
  }

  .img-container {
    height: 50px;
  }
  .img-logo {
    width: 10%;
  }
  .pie {
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .img-foot {
    width: 200px;
  }
  .img-services {
    width: 180px;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
  }
  .services-container {
    display: grid;
    justify-content: space-around;
    margin: 50px 0 50px 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr;
    grid-column-gap: 10px;
  }
  .img-services:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #ff61a3;
    -webkit-box-shadow: 0px 0px 15px 15px #ff61a3;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    filter: hue-rotate();
  }
  .prestaciones {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color: #ff61a3  ;
    text-shadow: 4px 4px 2px rgba(202,120,120,0.6);
  }
 
  
}
